.btn {
  background-color: $mainBlue;
  color: #fff;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;

  &--black {
    background-color: #000;
  }

  &--orange {
    background-color: $mainOrange;
  }

  &--large {
    padding: 1.1rem 1.9rem;

    @include atSmall {
      font-size: 1.25rem;
    }
  }

  &--modal {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: none;
    font-size: 1.3rem;
  }
}
