.modal {
  position: fixed;
  z-index: 5;
  background-color: rgba(255, 255, 255, .94);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: all .3s ease-out;
  max-height: 100%;

  &--is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__inner {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__half-width {
    display: block;
  }

  &__field {
    border: none;
  }

  &__label {
    box-shadow: none;
    width: 100%;
    border: none;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 2;
    text-align: left;
    -webkit-border-after-color: none;
  }

  &__input {
    box-shadow: none;
    width: 100%;
    border-radius: 3px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid $mainOrange;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 2;
    text-align: left;
    -webkit-border-after-color: none;

    &--textarea {
      width: 100%;
      height: 100px;
      border-radius: 3px;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid $mainOrange;
      font-size: 0.9rem;
      font-weight: 300;
      text-align: left;
    }
  }

  &__description {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5;
  }

  &__social {
    margin-top: 10px;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.8rem;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    color: $mainBlue;
    cursor: pointer;

    &:hover {
      color: $mainOrange;
    }
  }

}
